<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flask To Do App</title>
</head>
<body>
	<h1>To dos</h1>
	{% for todos in todos %}
	<ul>
		<li>{{ todos }}</li>
	</ul>
	{% endfor %}

	<form method="POST">
		{{ template_form.hidden_tag() }}
		<p>
			{{ template_form.todo.label }}
			{{ template_form.todo() }}
		</p>
		<p>
			{{ template_form.submit() }}
		</p>
	</form>
</body>
</html>
